.complexity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
  height: 30px;
}

.slider-container {
  display: flex;
  align-items: baseline;
}
